.CarouselPageLink {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    border: none;
    z-index: 11;
    margin: 0 10px 0 0;
    color: white;
    cursor: pointer;
    padding: 0;

    text-align: center;
    font-size: 12px;

}

.CarouselPageLink:last-of-type {
    margin-right: 0
}