@import url("./__item/Carousel__item.css");
@import url("./__content/Carousel__content.css");

.Carousel {
    position: relative;
    width: inherit;
    height: max-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 0 50px 0;
}